<div class="home-xur">
    <div class="home-xur-box">
        <div class="psa white-box">
            <h1>PSA</h1>
            <h3>{{msg.psa}}</h3>
        </div>
        <div class="white-box">
            <h1 class="page-title">{{xur}}</h1>
            <h2 class="page-subtitle">{{msg.xurmsg}}</h2>
            {{!-- <p class="last-updated">Updated Tuesday, 12/18</p> --}}
            <img id="map" src="/images/{{noCaps xurloc}}_map_light.png">
        </div>
    </div>
    <div class="white-box home-xur-box">
        <h3>Xûr's Inventory</h3>
        {{#if vendors.xur}}
        <div class="vendor-sales">
            <hr>
            {{#each vendors.xur.items}}
            <div class="vendor-item">
                {{> vendoritem}}
                <hr>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>

<div class="home-data-container">
    <div class="home-data white-box">
        <h2>Dailies</h2>
        <ul id="dailies">
            <li class="dailies-today item">{{cycles.dailies.current}}</li>
            <li class="dailies-and-then">And then...</li>
            {{#each cycles.dailies.next}}
            <li class="dailies-future sub-item">{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="home-data white-box">
        <h3>Active Nightfalls</h3>
        <ul id="nightfalls">
            {{#each cycles.activenightfalls}}
            <li class="item">{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="home-data spider white-box">
        <h3><a href="/data/vendor/863940356">The Spider</a></h3>
        <h4>Big Fat Fallen</h4>
        <ul id="spiderinv" class="home-spiderinv">
            {{#each vendors.spider.items}}
            <li class="home-spiderinv-item">
                <span class="item">{{noPurchase display.name}}</span><br />
                {{#each costs}}
                <span class="item-description">{{amount}} {{display.name}}</span>
                {{/each}}
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="home-data white-box">
        <h3><a href="/data/vendor/2917531897">Ada-1</a></h3>
        <h4>Robo got ya weapons</h4>
        <ul id="spiderinv">
            {{#each vendors.ada.items}}
            <li>
                <span class="item">{{display.name}}</span><br />
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="home-data white-box">
        <h3><a href="/data/vendor/672118013">Banshee-44</a></h3>
        <h4>Who are you</h4>
        <ul id="spiderinv">
            {{#each vendors.banshee.items}}
            <li>
                <span class="item">{{display.name}}</span><br />
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="grey-box wide">
    <h1 class="line-header">Xûr Hotline</h1>
    <p>Mind and spirit. Call now and hear the future. </p>
    <p>Xûr has the answers you seek. It's an answering machine. <br />Leave a goddamn message. </p>
    <h4><a class="hotline-number" href="tel:1-414-436-9013">1 (414) 436-9013</a></h4>
</div>

<div class="grey-box wide">
    <h1 class="line-header">O'DAY.</h1>
    <p>The man. The myth. The legend. With some help from a fan and the KoX team, the 15 year old case of
        Frankie
        O'Day has been solved.</em>
    </p>
    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/546801483&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
</div>


<div class="grey-box">
    <h3 class="line-header">What The Fuck is New?</h3>
    <p>
        <ul>
            <li>New shader system! Including dark theme, and super special and AWESOME looking Christmas theme!</li>
            <li>Cookie Recipes for The Dawning added to the <a
                    href="https://wherethefuckisxur.com/guides.html#dawning-recipes">GUIDES</a>
                page!</li>
            <li>New episode of <a
                    href="https://soundcloud.com/user-229936693/the-curious-case-of-frankie-oday-solved">Three
                    Words or Less</a></li>
        </ul>
    </p>
</div>