{{#if page.vendors.xur}}
<div class="home-xur">
    <div class="white-box xur-map">
        {{#if page.xurloc}}
        <h1 class="box-title">Map</h1>
        <img id="map" src="/images/{{noCaps page.xurloc}}_map_light.png">
        {{else}}
        <p>We haven't found him yet. Check back in 5 minutes.</p>
        {{/if}}
    </div>
    <div class="white-box xur-inventory">
        <h1 class="box-title">Xûr's Inventory</h1>
        <div class="vendor-sales">
            {{#each page.vendors.xur.items}}
            <div class="vendor-item">
                <img class="xur-engram" src="images/engram.png" width="25px;">
                <p class="item">{{display.name}}{{#if class}} ({{class}}) {{/if}}</p>
                <div class="vendor-plugs">
                    <p class="vendor-plug">{{sockets.[0].plugs.[0].name}}</p>
                    <p>{{sockets.[0].plugs.[0].description}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/if}}

<div class="home-data-container">
    <div class="home-data white-box">
        <h2 class="box-title">Dailies</h2>
        <ul id="dailies">
            <li class="dailies-today item">{{page.cycles.dailies.current}}</li>
            <li class="dailies-and-then">And then...</li>
            {{#each page.cycles.dailies.next}}
            <li class="dailies-future sub-item">{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="home-data double-container">
        <div class="white-box double">
            <h3 class="box-title">Nightfalls</h3>
            <ul id="nightfalls">
                {{#each page.cycles.activenightfalls}}
                <li class="item">
                    {{this}}
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="white-box double">
            <h2 class="box-title">Banshee-44</h2>
            <h4 class="box-subtitle">Who are you</h4>
            <ul id="spiderinv">
                {{#each page.vendors.banshee.items}}
                <li>
                    <span class="item">{{display.name}}</span><br />
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="home-data spider white-box">
        <h2 class="box-title">The Spider</h2>
        <h4 class="box-subtitle">Big Fat Fallen</h4>
        <ul id="spiderinv" class="home-spiderinv">
            {{#each page.vendors.spider.items}}
            <li class="home-spiderinv-item">
                <span class="item">{{filter display.name "Purchase"}}</span><br />
                {{#each costs}}
                <span class="item-description">{{amount}} {{display.name}}</span>
                {{/each}}
            </li>
            {{/each}}

        </ul>
        <a class="guide-link" href="/data/vendor/863940356">More Spider Deets</a>
    </div>

    <div class="home-data white-box">
        <h2 class="box-title">Dreaming City Curse Level</h2>
        <h4 class="box-subtitle">How fucked is this shit?</h4>
        <h4 class="citystatus">
            {{page.cycles.city}}
        </h4>
    </div>

    <!--<div class="home-data white-box">
        <h2 class="box-title">Banshee-44</h2>
        <h4 class="box-subtitle">Who are you</h4>
        <ul id="spiderinv">
            {{#each page.vendors.banshee.items}}
            <li>
                <span class="item">{{display.name}}</span><br />
            </li>
            {{/each}}
        </ul>
    </div>-->
</div>

<div class="home-riff-container">
    <div class="grey-box home-riff wide">
        <h2 class="line-header">Thought of the Day</h2>
        <p>{{{page.riff}}}</p>
    </div>

    <div class="grey-box home-riff whats-new wide">
        <h2 class="line-header">What The Fuck is New?</h2>
        <p>
            <ul>
                <li>Added a link to a Chalice recipe tool in the <a href="/guides/chalice">guides</a> section of the site.</li>
                <li>Nothing much man, what's new with you?</li>
            </ul>
        </p>
    </div>

    <!-- <div class="grey-box home-riff">
        <h2 class="line-header">Friendgame</h2>
        <p>
            <h2><a href="https://discord.gg/Ut4qTZp">Kitties of Xûr</a></h2>
        </p>
        <p>Official WTFIX Development Discord</p>
        <h2><a href="https://solarian.net">Solarian Clan</a></h2>
        <p>Official clan of WTFIX</p>
    </div> -->

    <div class="grey-box home-riff wide">
        <h1 class="line-header">Xûr <strike>Hot</strike> Coldline</h1>
        <p>Turns out being funny twice weekly is really hard, and we at the WTFIX team are either working adults or really lazy, so we're winding down the hotline for the time being.  As the premier, official location for Xûr Hotline updates, you can keep an eye on this page for more updates if anything changes.</p>
        <h4>F</h4>
    </div>

    <div class="grey-box home-riff wide">
        <h1 class="line-header">Discord</h1>
        <p>Yo.  We've got a Discord.  It's pretty cool (not biased).</p>
        <p>You should maybe join it or something idk.</p>
        <h1><a class="discord-link" href="https://discord.gg/Ut4qTZp">Kings of Xûr Discord</a></h1>
    </div>


    <div class="grey-box home-riff wide">
        <h1 class="line-header">HIST 789: Modern WTFIX Development History</h1>
        <p>While this isn't the official WTFIX podcast or anything, a few of our team members showed up on our partner clan's podcast to give them a little history lesson on the site, and talk about what we do, how we do it, and why the hell we even do it.</p>
        <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/630886515&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>

    <!-- <div class="grey-box home-riff wide">
        <h1 class="line-header">Friends of Xur</h1>
        <p>
            <h2><a href="https://twitch.tv/xgladd">xGladd</a></h2>
        </p>
        <p>He linked us so we link him. Thanks Gladd ❤</p>
        <h2><a href="https://braytech.org">Braytech.org</a></h2>
        <p>Dev friend of the site, and great resource for tracking yo shit. Looks fuckin gorgeous too.</p>
        <h2><a href="https://xurloc.tk">Xur Loc</a></h2>
        <p>Our minimal-ish design too much for you? Don't want all this extra info? Xur Loc is just xur's location,
            that's it. (If you made this site come say hi in our Discord, we love it!)</p>
    </div>-->
</div>