<div id="muuri-grid">
    <div class="grid-item wide">
        <div class="grid-content">
            <h1>{{xur}}</h1>
            {{!-- <p class="xur-location-details">He's not <em>really</em> in Pittsburgh. X没r will return Friday at <a href="https://wherethefuckisxur.com/faq.html">reset.</a></p> --}}
            {{!-- <p class="last-updated">Updated Tuesday, 12/18</p> --}}
        </div>
    </div>
    {{#if vendors.xur}}
    <div class="grid-item big">
        <div class="grid-content">
            <h3>X没r's Inventory</h3>
            <ul id="xurinv">
                {{#each vendors.xur.items}}
                <img src="images/engram.png" width="25px;" />
                <li>
                    <span class="item">{{display.name}} (PUT CLASS HERE PLS)</span><br />
                    {{#each perks}}
                    <span class="item-perk">{{name}}</span><br>
                    <span class="perk-desc">{{desc}}</span><br />
                    {{/each}}
                </li>
                {{/each}}
            </ul>

        </div>
    </div>
    {{/if}}

    <div class="grid-item wide">
        <div class="grid-content">
            <h3 class="line-header">X没r Hotline</h3>
            <p>Mind and spirit. Call now and hear the future. </p>
            <p>X没r has the answers you seek. It's an answering machine. <br />Leave a goddamn message. </p>
            <h4><a class="hotline-number" href="tel:1-414-436-9013">1 (414) 436-9013</a></h4>

        </div>
    </div>

    <div class="grid-item wide">
        <div class="grid-content">
            <h2 class="line-header">O'DAY.</h2>
            <p>The man. The myth. The legend. With some help from a fan and the KoX team, the 15 year old case of
                Frankie
                O'Day has been solved.</em>
            </p>
            <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/546801483&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

        </div>
    </div>


    <div class="grid-item">
        <div class="grid-content">
            <h5 class="line-header">What The Fuck is New?</h5>
            <p>
                <ul>
                    <li>New shader system! Including dark theme, and super special and AWESOME looking Christmas theme!</li>
                    <li>Cookie Recipes for The Dawning added to the <a href="https://wherethefuckisxur.com/guides.html#dawning-recipes">GUIDES</a>
                        page!</li>
                    <li>New episode of <a href="https://soundcloud.com/user-229936693/the-curious-case-of-frankie-oday-solved">Three
                            Words or Less</a></li>
                </ul>
            </p>
        </div>
    </div>

    <div class="grid-item white-box">
        <div class="grid-content">
            <h3>Dailies</h3>
            <p class="flavor-text"></p>
            <ul id="dailies">
                <li class="dailies-today item">{{cycles.dailies.current}}</li>
                <li class="dailies-and-then">And then...</li>
                {{#each cycles.dailies.next}}
                <li class="dailies-future sub-item">{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="grid-item white-box">
        <div class="grid-content">
            <h3>Active Nightfalls</h3>
            <p class="flavor-text"></p>
            <ul id="nightfalls">
                {{#each cycles.activenightfalls}}
                <li class="nightfall item">{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="grid-item tall white-box">
        <div class="grid-content">
            <h3><a href="/data/vendor/863940356">The Spider</a></h3>
            <p class="flavor-text">Big Fat Fallen</p>
            <ul id="spiderinv">
                {{#each vendors.spider.items}}
                <li>
                    <span class="item">{{display.name}}</span><br />
                    {{#each costs}}
                    <span class="item-description">{{amount}} {{display.name}}</span>
                    {{/each}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="grid-item white-box">
        <div class="grid-content">
            <h3><a href="/data/vendor/2917531897">Ada-1</a></h3>
            <p class="flavor-text">Robo got ya weapons</p>
            <ul id="spiderinv">
                {{#each vendors.ada.items}}
                <li>
                    <span class="item">{{display.name}}</span><br />
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="grid-item white-box">
        <div class="grid-content">
            <h3><a href="/data/vendor/672118013">Banshee-44</a></h3>
            <p class="flavor-text">Who are you</p>
            <ul id="spiderinv">
                {{#each vendors.banshee.items}}
                <li>
                    <span class="item">{{display.name}}</span><br />
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>