{{!< data}}

<div class="data-box-container">
    <div class="white-box data-box">
        <h3>Ascendant Challenge</h3>
        <p class="flavor-text">{{ascendantchallenge.name}}</p>
        <a href="/data/guides/ascendantchallenge#ac{{ascendantchallenge.id}}">Guide</a>
    </div>

    <div class="white-box data-box">
        <h3>Escalation Protocol</h3>
        <p class="flavor-text">{{escalationprotocol.boss}}</p>
        <p class="flavor-text">{{escalationprotocol.gun}}</p>
        <a href="/data/guides/escalationprotocol#ep{{escalationprotocol.id}}">Guide</a>
    </div>

    <div class="white-box data-box">
        <h3>The Dreaming City</h3>
        <p>Curse Level:</p>
        <p class="flavor-text">{{citystatus.status}}</p>
        <p>Blind Well Boss</p>
        <p class="flavor-text">{{citystatus.boss}}</p>
        <a href="/data/guides/blindwell#bw{{citystatus.id}}">Boss Guide</a>
    </div>

    <div class="white-box data-box">
        <h3>Dailies</h3>
        <p class="flavor-text"></p>
        <ul id="dailies">
            <li class="dailies-today item">{{dailies.current}}</li>
            <li class="dailies-and-then">And then...</li>
            {{#each dailies.next}}
            <li class="dailies-future sub-item">{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="white-box data-box">
        <h3>Active Nightfalls</h3>
        <p class="flavor-text"></p>
        <ul id="nightfalls">
            {{#each activenightfalls}}
            <li class="nightfall item">{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>